<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - insert:view</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	    <link rel="stylesheet" href="/assets/css/ElDorado.css">
	<link rel="stylesheet" href="/assets/css/NittiGrotesk.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="/assets/css/untitled.css">
<style>
.article-clean {
  color: {{ page.fontcolour | escape }} !important;
  background-color: {{ page.bgcolour | escape }} !important;
  /*font-family: 'Lora', serif;*/
  /*font-size: 14px;*/
}

h2 {
width: 50%;
left: 25%;
position: relative;
font-family: 'Nitti Grotesk', sans-serif;
}
</style>

</head>

<body id="page-top">
    
	  {% include navbar2.html %}

	
	<article class="post" lang="{{ page.lang | default: site.lang | default: "en" }}" itemscope itemtype="http://schema.org/BlogPosting" >

    <div class="post-content" itemprop="articleBody">     
    
<div>
    
	
    <header class="d-flex masthead article-header-text" style="overflow: hidden;background-color: white;">
	<div class="row article-header" style="max-width: 80%">
	
                <div class="col-md-6" data-mh="article-header">
				<img src="{{ page.cover | escape }}">
				</div>
				<div class="col-md-6 col-header-text" data-mh="article-header">
				<div class="title-header desktop  d-md-block" style="display: flex; flex: 1 1 60%;">
				<h1 class="mb-1 title article-title" style="background: linear-gradient(180deg, rgba(255,255,255,0) 30%, #fff 30%); display: inline; font-family: 'Eldorado Text', serif; letter-spacing: 2px;text-align: left; color: black;">{{ page.title | escape }}</h1></div>
            <div class="byline"><h3 class="mb-5 byline" style="display: inline;   background: linear-gradient(180deg, rgba(255,255,255,0) 30%, #fff 30%); display: inline; line-height: 1.5; text-align: left; font-family: 'Nitti Grotesk', serif; font-weight: bold; letter-spacing: 2px;">{{ page.author | escape }}</h3> </div></div>
				
				
        <div class="container my-auto text-center " style="z-index: 2; ">
           
            <div class="overlay"></div>
        </div>
		 </div>
		  </div>
    </header>
		
	
	
    <div class="text-justify article-clean" data-aos="fade" id="art" style="background-position: center;background-size: cover; padding-top: {{ page.paddingtop | escape }};">
	{{ content }}
        
	
	    
</div>
  </div>

      </div>

</article>

{% include footer.html %}
	

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/assets/js/stylish-portfolio.js"></script>
    <script src="/assets/js/scripts.js"></script>
</body>

</html>