<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - insert:view</title>
    <link rel="stylesheet" href="{{ site.url | relative_url }}/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
	    <link rel="stylesheet" href="{{ site.url | relative_url }}/assets/css/ElDorado.css">
	<link rel="stylesheet" href="{{ site.url | relative_url }}/assets/css/NittiGrotesk.css">
    <link rel="stylesheet" href="{{ site.url | relative_url }}/assets/css/WilliamsCaslonText.css">
    <link rel="stylesheet" href="{{ site.url | relative_url }}/assets/fonts/font-awesome.min.css">
	<link rel="stylesheet" href="{{ site.url | relative_url }}/assets/css/Cotoris.css">
    <link rel="stylesheet" href="{{ site.url | relative_url }}/assets/css/Header---Apple.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="{{ site.url | relative_url }}/assets/css/untitled.css">
<style>
.article-clean {
  color: {{ page.fontcolour | escape }} !important;
  background-color: {{ page.bgcolour | escape }} !important;
  /*font-family: 'Lora', serif;*/
  /*font-size: 14px;*/
}

h1,h2,h3,h4 {
padding-top: 30px;
padding-bottom: 10px;
left: 28%;
font-family: 'CotorisHeavy', serif;
}



</style>

</head>

<body id="page-top">
    
	  {% include navbar2.html %}

	
	<article class="post" lang="{{ page.lang | default: site.lang | default: "en" }}" itemscope itemtype="http://schema.org/BlogPosting" >

    <div class="post-content" itemprop="articleBody">     
    
<div>
    
	
    <header class="d-flex masthead article-header-text" style="overflow: hidden;background-color: white;">
	<div class="row article-header" style="max-width: 80%">
	
                <div class="col-md-6" data-mh="article-header">
				<img src="{{ page.cover | escape }}">
				</div>
				<div class="col-md-6 col-header-text" data-mh="article-header">
				<div class="title-header desktop  d-none d-md-block">
				<h1 class="mb-1 title article-title" style="background: white; display: inline; font-family: 'Eldorado Text', serif; font-size: 72px; letter-spacing: 2px;text-align: left; color: black;">{{ page.title | escape }}</h1></div>
            <div class="byline"><h3 class="mb-5 byline" style="display: inline;   background: linear-gradient(180deg, rgba(255,255,255,0) 30%, #fff 30%); display: inline; line-height: 1.5; text-align: left; font-family: 'Nitti Grotesk', serif; font-weight: bold; letter-spacing: 2px;font-size: 48px;">{{ page.author | escape }}</h3> </div></div>
				
				
        <div class="container my-auto text-center " style="z-index: 2; ">
           
            <div class="overlay"></div>
        </div>
		 </div>
		  </div>
    </header>
		
	
	
    <div class="text-justify article-clean" data-aos="fade" id="art" style="background-position: center;background-size: cover; padding-top: {{ page.paddingtop | escape }};">
	{{ content }}
        
	
	    
</div>
  </div>

      </div>

</article>

	
    <footer class="footer text-center">
        <div style="width: 50%;display: block;margin-left: auto;margin-right: auto;">
            <h1><br>Receive every issue of insert:view through email.<br></h1><input type="email" style="width: 30%;"></div>
        <div class="container">
            <p class="text-muted mb-0 small">Copyright &nbsp;© insert:view 2020</p>
        </div><a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a></footer>
    <script src="{{ site.url | relative_url }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.url | relative_url }}/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ site.url | relative_url }}/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{{ site.url | relative_url }}/assets/js/stylish-portfolio.js"></script>
    <script src="{{ site.url | relative_url }}/assets/js/scripts.js"></script>
</body>

</html>